.heading {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    text-align: center;
    
    @include responsive(xl) {
        grid-column: 2 / 6;
    }
    
    @include responsive(sm) {
        grid-column: 1 / -1;
    }
    
    &-text {
        font-size: size(xl) + 2rem;
        font-family: 'Exo', sans-serif;
        text-transform: uppercase;
        padding-bottom: 2rem;
        
        @include responsive(md) {
            font-size: size(xl) + 1rem;
        }
        
        @include responsive(md) {
            font-size: size(xl);
            padding-bottom: 1rem;
        }
        
        @include responsive(xs) {
            font-size: size(lg) + .5rem;
            padding-bottom: 1rem;
        }
    }
}