.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem;
    
    &-img {
        width: 10rem;
        height: 100%;
        
        @include responsive(xs) {
                width: 7rem;
            }
        
        @include responsive(xxs) {
                width: 5rem;
            }
    }
}