$font-sizes: (
    xl: 4rem,
    lg: 2.5rem,
    md: 1.5rem,
    sm: 1rem,
    xs: 0.5rem,
);

@function size($size) {
    @return map-get($font-sizes, $size);
}

$colors: (
    primary: #E6E6E6,
    secondary: #FACC2E,
    tertiary: #fff,
    quaternary: #000,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}
